body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u73 {
  position:absolute;
  left:64px;
  top:58px;
  width:118px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:64px;
  top:93px;
  width:360px;
  height:155px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u78 {
  position:absolute;
  left:108px;
  top:0px;
  width:247px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u82 {
  position:absolute;
  left:108px;
  top:30px;
  width:247px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u84 {
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u86 {
  position:absolute;
  left:108px;
  top:60px;
  width:247px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u88 {
  position:absolute;
  left:0px;
  top:90px;
  width:108px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u90 {
  position:absolute;
  left:108px;
  top:90px;
  width:247px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u92 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u94 {
  position:absolute;
  left:108px;
  top:120px;
  width:247px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:288px;
  top:269px;
  width:140px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u97 {
  position:absolute;
  left:64px;
  top:6px;
  width:186px;
  height:29px;
  font-size:20px;
  color:#009900;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:86px;
  height:22px;
}
#u99p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:77px;
  height:2px;
}
#u99p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:88px;
  height:24px;
}
#u99p001 {
  position:absolute;
  left:60px;
  top:-9px;
  width:20px;
  height:20px;
}
#u99p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u99.compound {
  width:0px;
  height:0px;
}
#u99 {
  position:absolute;
  left:420px;
  top:281px;
  width:75px;
  height:2px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u101 {
  position:absolute;
  left:505px;
  top:269px;
  width:120px;
  height:29px;
  font-size:20px;
  color:#009900;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
