{% extends "base.html"%}

{% block title%}修改GitHub用户名{% endblock %}<!--覆盖title标签-->

{% block content %} <!--具体内容-->
<div class="container">
 <div class="container">
 <form method="post">
     <h2>修改GitHub用户名</h2>
     <div class="form-group">
         {% if realname %}
             <label for="stu_id">学号:{{ stu_id }} 姓名:{{ realname }}</label>
             {% if GitHubUserName %}
                <input type="text" class="form-control" name="GitHubUserName" value= {{ GitHubUserName }} placeholder="请输入GitHub用户名">
             {%  else %}
                 <input type="text" class="form-control" name="GitHubUserName" placeholder="请输入GitHub用户名">
             {% endif %}
             <button type="submit" class="btn btn-default">修改</button>
         {%  else %}
            <h2>学号{{ stu_id }}不存在</h2>
         {% endif %}
     </div>

 </form>
 </div>
</div>
{% endblock %}